<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>种子在线清洗</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layui.css') }}">
<style>
    {% block css %}
    {% endblock %}
    </style>
</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="">最新活动</a></li>
    <li class="layui-nav-item layui-this"><a href="">产品</a></li>
    <li class="layui-nav-item"><a href="">大数据</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">社区</a></li>
</ul>
    {% block content %}

    {% endblock %}
<script src="{{ url_for('static',filename='layui.all.js') }}"></script>
<script>
    ;!function () {
        {% block layuijs %}

        {% endblock %}
    }();
</script>
</body>
</html>